*{
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    width: 100%;
}

.upper{
    display: inline-block;
    height: 50%;
    width: 100%;
    background:rgb(111 132 147);;
    color: rgb(0, 0, 0);
    padding-top: 50px;
    padding-bottom: 50px;
}
.buttons{
    display: block;
    width: 20%;
    border: 0;
    border-radius: 10px;
    background-color: red;
    color: aliceblue;
    height: 50px;
    transition: .3s;
    margin: 10px;
}

.btn-grp{
    margin-left:45%;
}
.buttons:hover{
    background-color: blue;
    
}
.lower{
    display: inline-block;
    padding: 10px  0 10px 0;
    height: 50%;
    width: 100%;
    background: aquamarine;
    color: aliceblue;
    text-align: center;
}
.upper-left{
    float: left;
    width: 50%;
    height: inherit;
    text-align: center;
    padding: 5px;
}

.upper-right{
    float: right;
    width: 50%;
    height: auto;
    text-align: center;
    padding: 5px;
}

